*{
    margin: 0;
    padding: 0;
   
 
}


.genel{
   
  background-color: rgb(234, 215, 215);
   /* height: 80vh; */  /* ya da bunun yerine altindaki itemlardan birine de height verebilirsin*/
  margin: 6rem;
  padding: 150px;
 
}
   
.container{

    
    
    background-color:rgb(232, 118, 97);
    padding:100px ;
  
border: 4px solid black;
border-radius: 5px;

        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: 500px;
flex-basis: 0;
 



    /* artik display flex dedikten sonra bunun altindaki items lara istedigim sekli vereblrm */
 

}


.yuvarla{
    border: 3px solid black;
    border-radius: 50%;

}
.logo{
    position: absolute;
    top: 11rem;
  
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.baslik{
    margin-bottom: 2rem;
    margin-top: 2rem;
font-family: 'Open Sans', sans-serif;
display: flex;
justify-content: center;
}
span {
    color: yellow;
}


.ekrany{
    font-size: 60px;
        font-weight: bolder;
        color: rgb(78, 72, 72);
font-family: 'Open Sans', sans-serif;
text-align: center;
 
}

.items2{
    display: flex;
    justify-content: center;
margin-top: 3rem;}
    
.text2{
color: brown;
    font-weight: 600;
    font-size: larger;

}

  